@import url('https://fonts.googleapis.com/css2?family=Gluten&display=swap');

*  { 
margin: 0; 
padding: 0; 
border: 0; 
}

body{
  font-family: 'Gluten', cursive;
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

.main-component{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-card{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}
.wrapper-card{
  background: skyblue;
  margin: 5px;
  padding: 10px;
}

.details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:10px;
  padding: 10px;
}

.details h3, p{
  margin: 10px;
  
}